/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant

.phpunit.result.cache
yarn-error.log
npm-debug.log
.phpunit.result.cache
laravel-echo-server.json

# PhpStorm
.idea
# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# macOS
.DS_store

## Cache
.php_cs.cache
.phpunit.result.cache


# GraphQL
schema-directives.graphql
programmatic-types.graphql
_lighthouse_ide_helper.php
