# Composer
/vendor/

# npm Yarn
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant

# PhpStorm
.idea

# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# macOS
.DS_store

## Cache
.*.cache
.phpunit.result.cache

# GraphQL
schema-directives.graphql
programmatic-types.graphql
_lighthouse_ide_helper.php

# WebSocket
laravel-echo-server.json
laravel-echo-server.lock

# Laravel Sail
supervisord.log
supervisord.pid

# Laravel Admin

public/vendor

/.*.cache
